body{
	color: #333;
}
header {
  background-color: #28326f;
  text-align: center;
  padding: 145px 0 120px 0;
  margin-bottom: 50px;
}
.container {
  width: 900px;
  margin: 0 auto;
  @media all and (max-width:960px){
    width: 600px;
  }
  @media all and (max-width:640px){
  width: 300px;
  }
  header & {
    img{
      width: 100%;
    }
  }
}
