p {
  font-family: 'merriweather';
  font-size:12px;

  a {
  border-bottom: 1px solid #bcbcbc;
  padding: 0 0 1.5px 0;
    &:hover {
      color: red;
    }
    &:active {
      color: #888;
	  }
	}
}
h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  padding: 0 0 5px 0; 
}
